/* src/components/Form.css */

.form-container {
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.8); /* Example: Add a semi-transparent background over the image */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  /* Additional styling for input fields, button, etc. */
  